---
import Navigation from "../components/Navigation.astro";
import BeforePrice from "../components/product/BeforePrice.astro";
import { ButtonAddToCart } from '../components/product/ButtonAddToCart';
import Discount from "../components/product/Discount.astro";
import { LightBox } from "../components/product/LightBox";
import Price from "../components/product/Price.astro";
import { ProductGallery } from "../components/product/ProductGallery";
import { QuantityInput } from '../components/product/QuantityInput';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | E-commerce product page.">
  <Navigation />
  <main class="min-w-[375px] w-375px md:w-[768] lg:w-[1440px] flex flex-col lg:flex-row lg:pt-28 h-dvh max-w-[1440px]">

    <div class="w-full lg:w-1/2">
      <!-- FOR DESKTOP SIZE -->
      <ProductGallery client:only />
    </div>

    <div class="px-4 lg:w-1/3 flex flex-col gap-y-4">
      <h2 class="uppercase font-semibold text-primary text-balance">Sneaker Company</h2>

      <h3 class="uppercase text-4xl font-semibold">Fall Limited Edition Sneakers</h3>

      <p class="text-pretty text-secondary">These low-profile sneakers are your perfect casual wear companion. Featuring a 
      durable rubber outer sole, they’ll withstand everything the weather can offer.</p>

      <Price text="$125.00" >
        <Discount slot="discount" text="50%" />
      </Price>
      
      <BeforePrice text="$250.00" />      

      <div class="flex gap-x-6">
        <div class="w-1/2">
          <QuantityInput client:load />
        </div>
        <ButtonAddToCart client:load />
      </div>
    </div>

  </main>
  <LightBox client:load />
</Layout>

<style>
  main {
  }
</style>
