<li class="p-0 border-orange transition-all ease-in-out mt-3">
  <slot name="link" />
</li>
<style>
  .border-orange {
    border-bottom: 4px solid transparent;
    cursor: pointer;
  }
  .border-orange:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
  }
</style>
